<style type="text/css" title="currentStyle">

	@import "http://datatables.net/media/css/header.ccss";
	@import "http://datatables.net/release-datatables/media/css/demo_table_jui.css";

	th.dpass, td.dpass {display: none;}
	
	div.dataTables_length label {
		float: left;
		text-align: left;
	}

	div.dataTables_length select {
		width: 75px;
	}

	div.dataTables_filter label {
		float: right;
	}

	div.dataTables_info {
		padding-top: 8px;
	}

	div.dataTables_paginate {
		float: right;
		margin: 0;
	}
	
	tfoot input {
	margin: 0.5em 0;
	color: #444;
	}

	table.table {
		clear: both;
		margin-bottom: 6px !important;
	}

	table.table thead .sorting,
	table.table thead .sorting_asc,
	table.table thead .sorting_desc,
	table.table thead .sorting_asc_disabled,
	table.table thead .sorting_desc_disabled {
		cursor: pointer;
		*cursor: hand;
	}

	table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
	table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
	table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

	table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
	table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

	table.dataTable th:active {
		outline: none;
		
	}

	</style>

	
	<script type="text/javascript" charset="utf8">


	var asInitVals = new Array();
	$(document).ready(function() {
		var oTable = $('#example').dataTable( {
				    "sPaginationType": "full_numbers",
				    "bJQueryUI": true,
				    "bProcessing": true,
				    "bServerSide": true,
				    "sAjaxSource": $('#example').data('source'),
						aoColumns: [ 
							     { 'bSortable': true },
							     { 'bSortable': true },
							     { 'bSortable': true },
							 	 { 'bSortable': true },
								 { 'bSortable': false },
								 { 'bSortable': false },
								 { 'sClass': 'dpass'}
							]
					})
						.columnFilter({
									aoColumns: [ 
										     { type: "text" },
										     { type: "text" },
										     { type: "text" },
										 	 { type: "text" },
											 { type: "text" },
											 { type: "text"},
											 { type: "text"},
											 { }
										]		
							});
		
		$.extend( $.fn.dataTableExt.oStdClasses, {
			"sWrapper": "dataTables_wrapper form-inline"
		} );
		
		$('#example input').unbind();

		$("tfoot input").keyup( function () {
			alert("check 1");
		/* Filter on the column (the index) of this element */
			if(e.keyCode == 13) {
				alert("check 2");
				oTable.fnFilter( this.value, $("tfoot input").index(this) );
			}
		} );



		/*
		* Support functions to provide a little bit of 'user friendlyness' to the textboxes in
		* the footer
		*/
		$("tfoot input").each( function (i) {
			asInitVals[i] = this.value;
		} );

		$("tfoot input").focus( function () {
			if ( this.className == "search_init" )
			{
				this.className = "";
				this.value = "";
			}
		});

		$("tfoot input").blur( function (i) {
			if ( this.value == "" ){
				this.className = "search_init";
				this.value = asInitVals[$("tfoot input").index(this)];
			}
		});
	});
	
	
	$(document).on('click', '#example tr', function(){
	    var nTds = this.getElementsByTagName('td');
		var tmp = nTds[6].innerHTML;
		window.location.href = "/records/ " + tmp;
	});
</script>

<div id="content">

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example" style="width:980px clear:both" data-source="<%= records_url(format: "json") %>">


	<thead>
  		<tr>
			<th style=" display: inline !important width: 50px;">Seq</th>
    		<th style="width: 250px;">Species</th>
    		<th style="width: 100px;">Status</th>
			<th style="width: 50px;">Year</th>
			<th style="width: 100px;">County</th>
			<th style="width: 150px;">Reference</th>
			<th style="visibility: hidden;"></th>
  		</tr>
	</thead>


<tfoot>
<tr>
	<th style="width: 50px;"><input type="text" placeholder="Search Sequence" class="search_init" style="width:50px" /></th>
	<th style="width: 250px;"><input type="text" placeholder="Search Taxon" class="search_init"  style="width:250px" /></th>
	<th style="width: 100px;"><input type="text" placeholder="Search Status" class="search_init"  style="width:100px"/></th>
	<th style="width: 50px;"><input type="text"  placeholder="Search Year" class="search_init"  style="width:50px" /></th>
	<th style="width: 100px;"><input type="text" placeholder="Search County" class="search_init"  style="width:100px"/></th>
	<th style="width: 150px;"><input type="text" placeholder="Search Reference" class="search_init"  style="width:150px" /></th>
	<th style="visibility: hidden;"></th>
</tr>
</tfoot>


</table>



<br />

</div> 
