
<div id="content">
<div style="float:right"><img src="http://my-free-css-templates.com/previews/122/images/img08.jpg" width="820" height="220"/></div>		
	<div class="boxed">
	<div class="demo_jui">
<%= render 'form' %>

<%= link_to 'Back', records_path %>

</div>
</div>
</div>
